<div class="tw-border-b">
  <nav
    class="md:tw-container md:tw-mx-auto tw-flex tw-flex-row tw-justify-between tw-items-center tw-space-x-12 tw-px-2 tw-py-4"
  >
    <a href="{{ url_prefix }}{{ home_page or '/' }}">
      {{ brand_html or (frappe.get_hooks("brand_html") or [_("Home")])[0] }}
    </a>
    {%- if top_bar_items -%}
    <ul
      class="tw-flex-grow tw-hidden md:tw-flex tw-flex-row tw-space-x-8 tw-uppercase tw-text-sm tw-font-bold"
    >
      {%- for item in top_bar_items if not item.parent_label -%}
      <li class="hover:tw-text-green-400">
        <a href="{{ item.url }}">{{ item.label }}</a>
      </li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
    <div
      class="tw-hidden md:tw-flex tw-flex-row tw-space-x-8 tw-uppercase tw-text-sm tw-font-bold hover:tw-text-green-400"
    >
      <a href="/login">{{ _("Login") }}</a>
    </div>
    <div class="md:tw-hidden menu">
      <button
        class="tw-w-12 tw-h-12 tw-flex tw-justify-center tw-items-center focus:tw-outline-none"
      >
        <svg
          class="tw-w-6 tw-h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"
          />
        </svg>
      </button>
    </div>
  </nav>
  <div class="md:tw-hidden menu">
    <ul
      class="tw-hidden tw-bg-gray-100 tw-bg-opacity-95 tw-flex-col tw-uppercase tw-text-sm tw-font-bold"
    >
      {%- for item in top_bar_items if not item.parent_label -%}
      <li class="tw-p-4 hover:tw-text-green-400">
        <a href="{{ item.url }}">{{ item.label }}</a>
      </li>
      {%- endfor -%}
      <li class="tw-p-4 hover:tw-text-green-400">
        <a href="/login">{{ _("Login") }}</a>
      </li>
    </ul>
  </div>
</div>

<script>
  !(function () {
    const buttonElem = document.querySelector('.menu > button');
    const menuElem = document.querySelector('.menu > ul');

    buttonElem.addEventListener('click', () => {
      menuElem.classList.toggle('tw-flex');
      menuElem.classList.toggle('tw-hidden');
    });
  })();
</script>
