@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .container {
    @apply tw-container tw-px-2 md:tw-px-8 tw-py-8 tw-mx-auto;
  }

  .form-group {
    @apply tw-mb-6;
  }
  .form-control {
    @apply tw-px-4 tw-py-3 tw-border tw-w-full tw-rounded;
  }

  .fa {
    @apply tw-text-xs;
  }
  .fa-eye::before {
    content: 'SHOW';
    @apply tw-text-gray-500;
  }
  .fa-eye-slash::before {
    content: 'HIDE';
  }
  .fa-map-marker::before {
    content: url('data:image/svg+xml;utf8,<svg width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" /></svg>');
  }
  .fa-phone::before {
    content: url('data:image/svg+xml;utf8,<svg width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" /></svg>');
  }
  .fa-envelope::before {
    content: url('data:image/svg+xml;utf8,<svg width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" /><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" /></svg>');
  }
  .fa-skype::before {
    content: url('data:image/svg+xml;utf8,<svg width="1rem" height="1rem" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z" /></svg>');
  }

  button.btn {
    @apply tw-uppercase tw-px-4 tw-py-2 tw-rounded;
  }
  button.btn-primary {
    @apply tw-bg-pink-500 hover:tw-bg-pink-600 tw-text-white;
  }
  button.btn-light {
    @apply tw-bg-pink-50 hover:tw-bg-pink-200 tw-text-pink-500 tw-border tw-border-pink-500;
  }
  button.btn-block {
    @apply tw-w-full;
  }

  .breadcrumb {
    @apply tw-flex tw-flex-row tw-space-x-4 tw-text-gray-500;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    content: '/';
    @apply tw-inline-block tw-pr-2;
  }
  .breadcrumb a {
    @apply tw-text-green-500 hover:tw-text-green-400;
  }

  .alert-warning {
    @apply tw-p-4 tw-bg-yellow-200 tw-rounded tw-my-6;
  }

  .text-muted {
    @apply tw-text-gray-600;
  }
  .small {
    @apply tw-text-sm;
  }
  .text-uppercase {
    @apply tw-uppercase;
  }

  .more-block {
    @apply tw-my-4;
  }

  /* common */
  div[data-path='contact'] .page-header h1,
  div[data-path='blog'] .page-header h1,
  div[data-path='about'] .page-header h1,
  div[data-doctype='Item Group'] .page-header h1,
  div[data-doctype='Item'] .page-header h1 {
    @apply tw-text-4xl tw-my-4 tw-max-w-full;
  }

  /* /contact */
  .contact-content {
    @apply tw-prose tw-max-w-full;
  }
  .contact-content .row {
    @apply tw-flex tw-flex-col md:tw-flex-row md:tw-space-x-8;
  }
  .contact-content .row > * {
    @apply tw-w-full tw-mb-4;
  }

  /* /blog */
  .website-list {
    @apply tw-prose tw-my-4 tw-max-w-full;
  }
}
